.jumbotron {
  color: white;
  background-color: rgb(33,50,90);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

button {
  background: white;
  border: none;
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2rem;
}